# copy to .env and fill values for development
PORT=4000
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d
# nodemailer SMTP settings (for dev you can use Ethereal)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
# App origin allowed to access API
CORS_ORIGIN=http://localhost:3000
